html,body,div,ul,li,h1,h2,h3,h4,h5,h6,a,img,p{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	outline: none;
	font-family: "微软雅黑";
}
html{
	font-size:14px;
}
a{
	color: #000;
	text-decoration: none;
}
.width_ozzz{
	width: 100%;
	margin: 0 auto;
}
.width_otzz{
	width: 100%;
	margin: 0 auto;
}
.title-icon-box{
	width: 7rem;
	margin-top: 30px;
}
.title-icon{
	width: 80%;
}
.color_b1559e{
	color: #b1559e;
}
.color_white{
	color: white;
}
.main-title{
	font-size: 2rem;
}
.subtitle{
	font-size: 1rem;
	color: #919191;
}

/*--- banner ---*/

.big-banner-box{
	width: 100%;
	overflow: hidden;
}
.big-banner-box img{
	width: 180%;
}

/*--- 分页 ---*/

.block{
	text-align: center;
	margin: 50px auto 30px auto;
}
.block .number{
	background-color: #929292;
	border-radius: 100%;
	color: white !important;
}
.block .number.active{
	color: white;
	background-color: #b1559e;
}
.el-pager li{
	height: 20px !important;
	line-height: 20px !important;
	min-width: 20px !important;
	margin: 4px !important;
}

/*--- 导航 ---*/

#nav-container{
	position: fixed;
	z-index: 500;
	font-weight: bold;
}
.phone-nav-container-before{
	position: fixed;
	z-index: 1000;
	width: 60px;
	height: 60px;
	border-radius: 10%;
	background-color: rgba(0,0,0,0.5);
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: 6px 7px;
	overflow: hidden;
	right: 1%;
	top: 20%;
	transition: all 0.5s;
}
.phone-nav-container-after{
	position: fixed;
	display: flex;
	align-items: center;
	z-index: 1000;
	background-size: 10000%;
	border-radius: 0;
	width: 100%;
	height: 100%;
	right: 0;
	top: 0;
	background-color: rgba(255,255,255,0.9);
	transition: all 0.3s;
}
.el-icon-close{
	font-size: 2rem;
	border-radius: 100%;
	background-color: rgba(0,0,0,0.5);
	padding: 1rem;
	color: white;
}
.phone-nav-container-before-ul{
	display: flex !important;
}
.phone-nav-container-none{
	display: none !important;
}
.phone-nav-container-before ul{
	display: none;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
}
.phone-nav-container-before-ul li{
	margin: 0.5rem auto;
}
.phone-nav-container-before-ul li:first-child,
.phone-nav-container-before-ul li:last-child{
	width: 100%;
}
.phone-nav-container-before-ul li:nth-of-type(2),
.phone-nav-container-before-ul li:nth-of-type(3){
	width: 50%;
}
.phone-nav-container-before-ul li:nth-of-type(4),
.phone-nav-container-before-ul li:nth-of-type(5){
	width: 50%;
}
.nav-container{
	display: none;
}

/*------------- 首页 --------------*/

/* 泡泡动画 */

@-webkit-keyframes myBounceOutUp {
	from {
		opacity: 1;
		-webkit-transform: translate3d(0, 20px, 0);
		transform: translate3d(0, 20px, 0);
	}

	to {
		opacity: 0.3;
		-webkit-transform: translate3d(0, -1600px, 0);
		transform: translate3d(0, -1600px, 0);
	}
}

@keyframes myBounceOutUp {
	from {
		opacity: 1;
		-webkit-transform: translate3d(0, 20px, 0);
		transform: translate3d(0, 20px, 0);
	}

	to {
		opacity: 0.3;
		-webkit-transform: translate3d(0, -1600px, 0);
		transform: translate3d(0, -1600px, 0);
	}
}
.myBounceOutUp1 {
	-webkit-animation-name: myBounceOutUp;
	animation-name: myBounceOutUp;
	animation-duration:8s;
	-webkit-animation-duration:8s;
	animation-delay:6s;
	-webkit-animation-delay:6s;
	animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
}
.myBounceOutUp2 {
	-webkit-animation-name: myBounceOutUp;
	animation-name: myBounceOutUp;
	animation-duration:8s;
	-webkit-animation-duration:8s;
	animation-delay:4s;
	-webkit-animation-delay:4s;
	animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
}
.myBounceOutUp3 {
	-webkit-animation-name: myBounceOutUp;
	animation-name: myBounceOutUp;
	animation-duration:8s;
	-webkit-animation-duration:8s;
	animation-delay:2s;
	-webkit-animation-delay:2s;
	animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
}
.myBounceOutUp4 {
	-webkit-animation-name: myBounceOutUp;
	animation-name: myBounceOutUp;
	animation-duration:60s;
	-webkit-animation-duration:60s;
	animation-delay:0s;
	-webkit-animation-delay:0s;
	animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
}
.myBounceOutUp5 {
	-webkit-animation-name: myBounceOutUp;
	animation-name: myBounceOutUp;
	animation-duration:12s;
	-webkit-animation-duration:12s;
	animation-delay:10s;
	-webkit-animation-delay:10s;
	animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
}
.myBounceOutUp6 {
	-webkit-animation-name: myBounceOutUp;
	animation-name: myBounceOutUp;
	animation-duration:12s;
	-webkit-animation-duration:12s;
	animation-delay:8s;
	-webkit-animation-delay:8s;
	animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
}
.myBounceOutUp7 {
	-webkit-animation-name: myBounceOutUp;
	animation-name: myBounceOutUp;
	animation-duration:12s;
	-webkit-animation-duration:12s;
	animation-delay:4s;
	-webkit-animation-delay:4s;
	animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
}
.myBounceOutUp8 {
	-webkit-animation-name: myBounceOutUp;
	animation-name: myBounceOutUp;
	animation-duration:60s;
	-webkit-animation-duration:60s;
	animation-delay:20s;
	-webkit-animation-delay:20s;
	animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
}
.yellow,
.yellow1,
.red,
.red1,
.purple,
.purple1{
	width: 30%;
	position: fixed;
	z-index: 10;
	pointer-events: none;
}
.yellow{
	top: 1300px;
	right: 150px;
}
.red{
	top: 1300px;
	right: 170px;
}
.purple{
	top: 1300px;
	left: 100px;
}
.yellow1{
	top: 1300px;
	right: 310px;
}
.red1{
	top: 1300px;
	right: 50px;
}
.purple1{
	top: 1300px;
	left: 300px;
}

/*--- 轮播 ---*/

.bg-banner-container{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.bg-banner-container-1{
	background: url('../img/phone_banner_1.jpg') no-repeat;
	background-size: 100% 100%;
}
.bg-banner-container-2{
	background: url('../img/phone_banner_2.jpg') no-repeat;
	background-size: 100% 100%;
}
.bg-banner-container-3{
	background: url('../img/phone_banner_3.jpg') no-repeat;
	background-size: 100% 100%;
}
.bg-banner-container-4{
	background: url('../img/phone_banner_4.jpg') no-repeat;
	background-size: 100% 100%;
}
.bg-banner-container-5{
	background: url('../img/phone_banner_5.jpg') no-repeat;
	background-size: 100% 100%;
}
.bg-banner-container-6{
	background: url('../img/phone_banner_6.jpg') no-repeat;
	background-size: 100% 100%;
}
.bg-banner-container-7{
	background: url('../img/phone_banner_7.jpg') no-repeat;
	background-size: 100% 100%;
}
.bg-banner-container-8{
	background: url('../img/phone_banner_8.jpg') no-repeat;
	background-size: 100% 100%;
}
.swiper-container{
	display: none;
}

/*--- 心情层 ---*/

.phone_mood_box{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
	position: absolute;
	top: 5%;
	left: 50%;
	margin-left: -32%;
}
.phone_mood_text{
	color: white;
	font-weight: bold;
}
.phone_mood_img{
	width: 90%;
	margin-top: 1rem;
}

/*--- 动漫人物 ---*/

.small-img-box{
	width: 50%;
	position: absolute;
	left: 10%;
}
.small-img-box-1{
	bottom: 35%;
}
.small-img-box-2{
	bottom: 33%;
}
.small-img-box-3{
	bottom: 30%;
}
.small-img-box-4{
	bottom: 33%;
}
.small-img-box-5{
	bottom: 33%;
}
.small-img-box-6{
	bottom: 33%;
}
.small-img-box-7{
	width: 35%;
	bottom: 27%;
}
.small-img-box-8{
	bottom: 35%;
}
.small-img-box .GIF-big{
	position: absolute;
	width: 100%;
	z-index: 100;
}
.small-img-box .GIF-big-shadow{
	position: absolute;
	width: 70%;
	top: 145px;
	left: 40px;
	z-index: 10;
}
.small-img-box .firstGIF-big-shadow{
	top: 125px;
}
.small-img-box .thirdGIF-big-shadow{
	top: 125px;
	left: 30px;
}
.small-img-box .seventhGIF-big-shadow{
	top: 170px;
	left: 30px;
}
.small-img-box .seventhGIF-big-shadow{
	top: 120px;
	left: 30px;
}
.small-img-box .eighthGIF-big-shadow{
	width: 60%;
	top: 160px;
}

/*--- 小箭头动画 ---*/

@-webkit-keyframes myBounce {
	70% {
		-webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		-webkit-transform: translate3d(0, -15px, 0);
		transform: translate3d(0, -15px, 0);
	}

	90% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0);
	}
}

@keyframes myBounce {
	70% {
		-webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		-webkit-transform: translate3d(0, -15px, 0);
		transform: translate3d(0, -15px, 0);
	}

	90% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0);
	}
}

.myBounce {
	-webkit-animation-name: myBounce;
	animation-name: myBounce;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
	animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
}

/*------------- 美食百科 --------------*/

/*--- 食百科 ---*/

#gourmet-encyclopedia .foot-encyclopedia-content-container .items-box{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
#gourmet-encyclopedia .content-container-box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 90%;
}
#gourmet-encyclopedia .foot-encyclopedia-content-container .items-box li{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-wrap: wrap;
	font-weight: bold;
	width: 100%;
	margin-top: 1rem;
	text-align: center;
}
#gourmet-encyclopedia .foot-encyclopedia-content-container .items-box .img-box{
	height: 150px;
	border-radius: 0.5rem;
	overflow: hidden;
	margin-bottom: 15px;
}
#gourmet-encyclopedia .foot-encyclopedia-content-container .items-box .img-box img{
	width: 100%;
}

/*--- 荐食材 ---*/

#gourmet-encyclopedia .foot-material-content-container .items-box{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#gourmet-encyclopedia .foot-material-content-container .items-box li{
	display: flex;
	flex-wrap: wrap;
	font-weight: bold;
	width: 47%;
	margin-top: 1rem;
}
#gourmet-encyclopedia .foot-material-content-container .items-box li:nth-of-type(1),
#gourmet-encyclopedia .foot-material-content-container .items-box li:nth-of-type(4){
	margin-left: 0;
}
#gourmet-encyclopedia .foot-material-content-container .items-box .img-box{
	width: 100%;
	border-radius: 0.3rem;
	border: solid 1px #b1559e;
	overflow: hidden;
	margin-bottom: 15px;
	text-align: center;
}
#gourmet-encyclopedia .foot-material-content-container .items-box .img-box .img{
	height: auto;
	overflow: hidden;
}
#gourmet-encyclopedia .foot-material-content-container .items-box .img-box .img img{
	width: 100%;
	display: block;
}
#gourmet-encyclopedia .foot-material-content-container .items-box .img-box .tag{
	background-color: #b1559e;
	line-height: 2.5rem;
	height: 2.5rem;
}
#gourmet-encyclopedia .foot-material-content-container .items-box .text-box img{
	width: 9px;
}

/*------------- 关于酱道 --------------*/

.about-us-content-container-box{
	text-align: center;
	margin-top: 1rem;
}
.about-us-content-container-box ul{
	width: 90%;
	margin: 1rem auto;
	display: flex;
	justify-content: space-around;
}
.about-us-content-container-box ul li{
	background-color: red;
	height: 2px;
}
.about-us-li-width{
	width: 100%;
}
.fade-enter-active, .fade-leave-active {
	width: 100%;	
	transition: all 2s;
	height: 2px;
}
.fade-enter, .fade-leave-to {
	width: 0;
	height: 2px;
}
.about-us-content-container-box .text{
	width: 90%;
	margin: 0 auto 2rem auto;
	line-height: 2rem;
}

/*------------- 联系我们 --------------*/

#map-container{
	width: 100%;
	height: 300px;
}
.msg-container{
	align-self: flex-start;
}
.contact-us-msg{
	display: flex;
	justify-content: flex-start;
	margin-top: 30px;
	font-weight: 900;
}
.contact-us-msg img{
	margin-right: 10px;
	margin-top: 4px;
	width: 15px;
	height: 100%;
}
.address-box img{
	margin-top: 0;
}
.tel-num{
	text-decoration: underline;
}
.contact-us-content-container-box{
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 40px auto;
}

/*------------- 公司动态 --------------*/

.company-dynamics-content-container-box{
	width: 90%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.company-dynamics-content-container-box li{
	width: 100%;
	height: 200px;
	background-color: white;
	margin-top: 2rem;
	position: relative;
}
.company-dynamics-content-container-box li a{
	display: block;
	width: 100%;
	height: 100%;
}
.company-dynamics-content-container-box li .text-box{
	position: absolute;
	display: flex;
	flex-direction: column;
	bottom: 20px;
	padding: 0 5%;
	width: 90%;
}
.company-dynamics-content-container-box li .text-box hr{
	border: 0;
	border-top: solid 1px #bfbfbf;
	width: 100%;
}
.company-dynamics-content-container-box li .text-box p:last-child{
	color: #bfbfbf;
}
.company-dynamics-content-container-box li span{
	font-size: 28px;
	font-weight: bold;
	color: #999;
	position: absolute;
	right: 15px;
}
#company-dynamics .el-pagination button:disabled,
#company-dynamics .el-pagination .btn-next,
#company-dynamics .el-pagination .btn-prev{
	background-color: #f9f9f9 !important;
}

/*------------- 产品介绍 --------------*/

.product-introduction-content-container-box > h3{
	font-size: 2rem;
	text-align: center;
	margin: 1rem auto;
}
.product-introduction-content-container-box > img{
	display: none;
}
.product-introduction-content-container-box ul{
	width: 90%;
	margin: 0 auto 60px auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}
.product-introduction-content-container-box ul li{
	width: 100%;
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
}
.product-introduction-content-container-box ul li:first-child{
	margin-top: 10px;
}
.N-box-img{
	border: solid 1px #999;
	width: 50%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 10px 10px 10px;
}
.N-box-img img{
	width: 80%;
}
.N-box-introduce{
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	width: 100%;
}
.N-box-introduce p{
	width: 90%;
	padding: 1rem 5% 0 5%;
}
.N-box-introduce p:nth-of-type(1){
	font-weight: bold; 
}
.N-box-introduce p:last-child{
	margin-bottom: 30px;
}
.product-introduction-content-container-box ul li:nth-of-type(even) .N-box-img{
	order: 2;
}
.N-box-introduce .line{
	height: 1px;
	background-color: #999;
}
.N-box-introduce-width{
	width: 100%;
}
.border-enter-active, .border-leave-active {
	width: 100%;	
	transition: all 2s;
	height: 1px;
}
.border-enter, .border-leave-to {
	width: 0;
	height: 1px;
}
.reverse{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	height: 1px;
}
.N-box-introduce .lineReverse{
	height: 1px;
	background-color: #999;
}