<block name="header"><include file="Public:header" /></block>
<div id="company-dynamics">
	<div class="big-banner-box">
		<img src="__PUBLIC__/home/img/company-dynamics-banner.jpg">
	</div>
	<ul class="company-dynamics-details-content-container-box width_otzz">
		<li>
			<img src="__PUBLIC__/home/img/N-box-blackRed.png">
		</li>
		<li>
			<img src="__PUBLIC__/home/img/N-box-blue.png">
		</li>
		<li>
			<img src="__PUBLIC__/home/img/N-box-green.png">
		</li>
		<li>
			<img src="__PUBLIC__/home/img/N-box-cyan.png">
		</li>
		<li>
			<img src="__PUBLIC__/home/img/N-box-orange.png">
		</li>
		<li>
			<img src="__PUBLIC__/home/img/N-box-purple.png">
		</li>
		<li>
			<img src="__PUBLIC__/home/img/N-box-yellow.png">
		</li>
		<li>
			<img src="__PUBLIC__/home/img/N-box-red.png">
		</li>
	</ul>
</div>
<script>
	$("#nav-container .nav-container .nav-img").eq(3).attr('src','__PUBLIC__/home/img/company-dynamics-after.png').css({'pointer-events': 'none'});
	$('body').css({'background-color' : '#f9f9f9'})
</script>