<block name="header"><include file="Public:header" /></block>
<div id="gourmet-encyclopedia">
	<div class="big-banner-box">
		<img src="__PUBLIC__/home/img/gourmet-encyclopedia-banner.jpg">
	</div>
	<div class="content-container-box width_otzz">
		<div class="foot-encyclopedia-content-container">
			<div class="title-icon-box">
				<img class="title-icon" src="__PUBLIC__/home/img/gourmet-encyclopedia-title-icon.png">
			</div>
			<ul class="items-box">
				<li>
					<div class="img-box">
						<img src="__PUBLIC__/home/img/辣椒酱拌饭.jpg">
					</div>
					<div class="text-box color_b1559e">
						辣椒酱拌饭更配哦！
					</div>
				</li>
				<li>
					<div class="img-box">
						<img src="__PUBLIC__/home/img/羊蝎子.jpg">
					</div>
					<div class="text-box color_b1559e">
						揭秘老北京羊蝎子的独到美味！
					</div>
				</li>
				<li>
					<div class="img-box">
						<img src="__PUBLIC__/home/img/重庆火锅.jpg">
					</div>
					<div class="text-box color_b1559e">
						风味人间 重庆火锅
					</div>
				</li>
			</ul>
		</div>
		<div class="foot-material-content-container">
			<div class="title-icon-box">
				<img class="title-icon" src="__PUBLIC__/home/img/food-material-title-icon.png">
			</div>
			<ul class="items-box">
				<li v-for="(menu,index) in menus" :key="menu.id" v-if="index < 6">
					<div class="img-box">
						<div class="img">
							<img :src="'__PUBLIC__/' + menu.img">
						</div>
						<div class="tag color_white" v-text="menu.title"></div>
					</div>
					<div class="text-box">
						<img src="__PUBLIC__/home/img/foot-material-icon.png">
						<span v-text="menu.tuijian"></span>
					</div>
				</li>
			</ul>
		</div>
		<!-- 分页 -->
		<div class="block">
			<el-pagination
			prev-text="上一页"
			next-text="下一页"
			@current-change="currentChange"
			:page-size="6"
			layout="prev, pager, next"
			:total="totalDataNumber">
			</el-pagination>
		</div>
	</div>
</div>
<script>
	$("#nav-container .nav-img").eq(3).attr('src','__PUBLIC__/home/img/gourmet-encyclopedia-after.png').css({'pointer-events': 'none'});
	new Vue({
		el: '#gourmet-encyclopedia',
		data: {
			totalDataNumber : 0,
			menus : []
		},
		created(){
			let _this = this
			$.ajax({
				url: 'http://47.92.37.138/index.php/Home/baike/xinxi',
				type: 'GET',
				dataType: 'JSONP',
				success: function(res) {
					const arrData = res.data;
					for (let i=0; i<arrData.length; i++) {
						let rep = arrData[i].img;
						rep = rep.replace("./Public/","")
						arrData[i].img = rep
					};
					let dataLength = res.data.length;
					_this.totalDataNumber = dataLength;
					const arr = res.data.slice(0,6);
					_this.menus = arr
				}
			})
		},
		methods: {
			currentChange(current) {
				let _this = this
				$.ajax({
					url: 'http://47.92.37.138/index.php/Home/baike/xinxi',
					type: 'GET',
					dataType: 'JSONP',
					success: function(res) {
						const arrData = res.data;
						for (let i=0; i<arrData.length; i++) {
							let rep = arrData[i].img;
							rep = rep.replace("./Public/","")
							arrData[i].img = rep
						};
						const arr = res.data.slice((current-1)*6,current*6)
						_this.menus = arr
					}
				})
			}
		}
	})
</script>