<block name="header"><include file="Public:header" /></block>
<style>
	.swiper-button-next{
		left: 50%;
		right: 50%;
		outline: none;
		position: absolute;
		top: auto;
		bottom: 5%;
		width: 26px;
		height: 32px;
		margin-top: -22px;
		z-index: 10;
		cursor: pointer;
		background-size: 26px 32px;
		background-position: center;
		background-repeat: no-repeat;
	}
</style>
<div class="index-container" id="index-container">
	<!-- 泡泡 -->
	<img class="yellow bounceOutUp1" src="__PUBLIC__/home/img/yellow.png">
	<img class="red bounceOutUp2" src="__PUBLIC__/home/img/red.png">
	<img class="purple bounceOutUp3" src="__PUBLIC__/home/img/purple.png">
	<img class="yellow1 bounceOutUp5" src="__PUBLIC__/home/img/yellow.png">
	<img class="red1 bounceOutUp6" src="__PUBLIC__/home/img/red.png">
	<img class="purple1 bounceOutUp7" src="__PUBLIC__/home/img/purple.png">
	<!-- 轮播 -->
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="bg-banner-container bg-banner-container-1">
					<img class="leftGIF-big redGIF-big" src="__PUBLIC__/home/img/redGIF.gif">
					<img class="leftGIF-big-shadow redGIF-big-shadow" src="__PUBLIC__/home/img/shadow.png">
				</div>
			</div>
			<div class="swiper-slide">
				<div class="bg-banner-container bg-banner-container-2">
					<img class="rightGIF-big" src="__PUBLIC__/home/img/greenGIF.gif">
					<img class="rightGIF-big-shadow" src="__PUBLIC__/home/img/shadow.png">
				</div>
			</div>
			<div class="swiper-slide">
				<div class="bg-banner-container bg-banner-container-3">
					<img class="leftGIF-big" src="__PUBLIC__/home/img/yellowGIF.gif">
					<img class="leftGIF-big-shadow" src="__PUBLIC__/home/img/shadow.png">
				</div>
			</div>
			<div class="swiper-slide">
				<div class="bg-banner-container bg-banner-container-4">
					<img class="rightGIF-big" src="__PUBLIC__/home/img/rose-redGIF.gif">
					<img class="rightGIF-big-shadow" src="__PUBLIC__/home/img/shadow.png">
				</div>
			</div>
			<div class="swiper-slide">
				<div class="bg-banner-container bg-banner-container-5">
					<img class="rightGIF-big" src="__PUBLIC__/home/img/blueGIF.gif">
					<img class="rightGIF-big-shadow" src="__PUBLIC__/home/img/shadow.png">
				</div>
			</div>
			<div class="swiper-slide">
				<div class="bg-banner-container bg-banner-container-6">
					<img class="rightGIF-big" src="__PUBLIC__/home/img/cyanGIF.gif">
					<img class="rightGIF-big-shadow" src="__PUBLIC__/home/img/shadow.png">
				</div>
			</div>
			<div class="swiper-slide">
				<div class="bg-banner-container bg-banner-container-7">
					<img class="rightGIF-big" src="__PUBLIC__/home/img/orangeGIF.gif" style="bottom:20px">
					<img class="rightGIF-big-shadow" src="__PUBLIC__/home/img/shadow.png" style="bottom:5px">
				</div>
			</div>
			<div class="swiper-slide">
				<div class="bg-banner-container bg-banner-container-8">
					<img class="leftGIF-big" src="__PUBLIC__/home/img/grayGIF.gif" style="bottom:35px">
					<img class="leftGIF-big-shadow" src="__PUBLIC__/home/img/shadow.png" style="bottom:50px">
				</div>
			</div>
		</div>
		<div class="swiper-button-next animated bounce"></div>
	</div>
</div>
<script>
	var mySwiper = new Swiper('.swiper-container', {
		slidesPerView : 1,
		slidesPerGroup : 1,
		initialSlide: 0,
		speed: 2000,
		height: doc_height,
		direction: 'vertical', // 垂直切换选项
		loop: true, // 循环模式选项
		autoplay: {
			delay: 3000,
			disableOnInteraction: false
		},
		mousewheel: true,
		observer:true,//修改swiper自己或子元素时，自动初始化swiper
		observeParents:true,//修改swiper的父元素时，自动初始化swiper
		navigation: {
			nextEl: '.swiper-button-next'
		},
	})
</script>
</body>
</html>