<block name="header"><include file="Public:header" /></block>
<div id="product-introduction">
	<div class="big-banner-box">
		<img src="__PUBLIC__/home/img/product-introduction-banner.jpg">
	</div>
	<div class="product-introduction-content-container-box width_otzz">
		<img src="__PUBLIC__/home/img/product-introduction-title.jpg">
		<h3>产品介绍</h3>
		<ul>
			<li>
				<div class="N-box-img">
					<img src="__PUBLIC__/home/img/N-box-blackRed.png">
				</div>
				<div class="N-box-introduce">
					<transition name="border">
						<div v-if="show" class="lineReverse" :class="{'N-box-introduce-width':borderOver}"></div>
					</transition>
					<p>心情：愤怒</p>
					<p>心情实话实说：请闲人与宠物勿近</p>
				</div>
			</li>
			<li>
				<div class="N-box-img">
					<img src="__PUBLIC__/home/img/N-box-blue.png">
				</div>
				<div class="N-box-introduce">
					<div class="reverse">
						<transition name="border">
							<div v-if="show" class="lineReverse" :class="{'N-box-introduce-width':borderOver}"></div>
						</transition>
					</div>
					<p>心情：消极</p>
					<p>心情实话实说：想去看部励志片电影</p>
				</div>
			</li>
			<li>
				<div class="N-box-img">
					<img src="__PUBLIC__/home/img/N-box-green.png">
				</div>
				<div class="N-box-introduce">
					<transition name="border">
						<div v-if="show" class="line" :class="{'N-box-introduce-width':borderOver}"></div>
					</transition>
					<p>心情：愉快</p>
					<p>心情实话实说：心情好，牙口好，胃口就香</p>
				</div>
			</li>
			<li>
				<div class="N-box-img">
					<img src="__PUBLIC__/home/img/N-box-cyan.png">
				</div>
				<div class="N-box-introduce">
					<div class="reverse">
						<transition name="border">
							<div v-if="show" class="lineReverse" :class="{'N-box-introduce-width':borderOver}"></div>
						</transition>
					</div>
					<p>心情：无聊</p>
					<p>心情实话实说：不要幻想不该幻想的~</p>
				</div>
			</li>
			<li>
				<div class="N-box-img">
					<img src="__PUBLIC__/home/img/N-box-orange.png">
				</div>
				<div class="N-box-introduce">
					<transition name="border">
						<div v-if="show" class="line" :class="{'N-box-introduce-width':borderOver}"></div>
					</transition>
					<p>心情：晕</p>
					<p>心情实话实说：是脑袋的事情，不是心情的事情</p>
				</div>
			</li>
			<li>
				<div class="N-box-img">
					<img src="__PUBLIC__/home/img/N-box-purple.png">
				</div>
				<div class="N-box-introduce">
					<div class="reverse">
						<transition name="border">
							<div v-if="show" class="lineReverse" :class="{'N-box-introduce-width':borderOver}"></div>
						</transition>
					</div>
					<p>心情：幸福</p>
					<p>心情实话实说：以幸福为半径，画一个圆满人生</p>
				</div>
			</li>
			<li>
				<div class="N-box-img">
					<img src="__PUBLIC__/home/img/N-box-yellow.png">
				</div>
				<div class="N-box-introduce">
					<transition name="border">
						<div v-if="show" class="line" :class="{'N-box-introduce-width':borderOver}"></div>
					</transition>
					<p>心情：悲伤</p>
					<p>心情实话实说：急需帅锅美女安慰</p>
				</div>
			</li>
			<li>
				<div class="N-box-img">
					<img src="__PUBLIC__/home/img/N-box-red.png">
				</div>
				<div class="N-box-introduce">
					<div class="reverse">
						<transition name="border">
							<div v-if="show" class="lineReverse" :class="{'N-box-introduce-width':borderOver}"></div>
						</transition>
					</div>
					<p>心情：兴奋</p>
					<p>心情实话实说：今晚来个party</p>
				</div>
			</li>
		</ul>
	</div>
</div>
<script>
	$("#nav-container .nav-container .nav-img").eq(2).attr('src','__PUBLIC__/home/img/product-introduction-after.png').css({'pointer-events': 'none'});
	new Vue({
		el:"#product-introduction",
		data: {
			show : false,
			borderOver : false
		},
		created() {

		},
		mounted() {
			this.$nextTick(function () {
				this.show = true
				this.borderOver = true
			})
		}
	})
</script>